div {
  word-break: break-all;
}

.tableWrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;

  .tableName {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    border-bottom: solid 0.5px #ddd;
    box-sizing: border-box;
    padding: 20px 10px 15px 10px;

    .floatBtns {
      position: absolute;
      display: none;
      top: 8px;
      right: 10px;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }

  .tableComment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.1em;
    border-bottom: solid 0.5px #ddd;
    box-sizing: border-box;
    padding: 8px;

    &.nothing {
      border-bottom: none;
    }
  }

  .column {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: solid 0.3px #ddd;
    font-size: 0.1em;
    padding: 10px;

    .description {
      display: none;
      width: max-content;
      position: absolute;
      background-color: #fff;
      top: 0;
      left: 110%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 15px;
      z-index: 10000;

      .top {
        display: flex;
        align-items: center;
        justify-content: left;
        box-sizing: border-box;
        border-bottom: solid 1px #ddd;
        padding-bottom: 5px;

        > strong {
          margin-right: 10px;
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        > p {
          margin-top: 5px;

          > span {
            margin-left: 5px;
          }

          .nothing {
            font-style: italic;
            color: #aaa;
          }
        }

        .boolType {
          > strong:not(:first-of-type) {
            margin-left: 5px;
          }
        }
      }
    }

    .description::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 15%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #fff;
      border-bottom: 10px solid transparent;
    }

    > p {
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
      }
    }

    > span {
      color: #aaa;
    }

    &.isLast {
      border-bottom: none;
    }

    &:hover {
      .description {
        display: block;
      }
    }
  }

  &:hover {
    .tableName {
      .floatBtns {
        display: flex;
      }
    }
  }
}
