.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px #aaa;
  padding: 10px;
  margin-bottom: 15px;

  > div {
    box-sizing: border-box;
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > div {
      width: calc(50% - 5px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &:nth-child(2n) {
        margin-left: 10px;
      }
    }
  }

  .checkBoxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    > div {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    > button {
      padding: 5px;
      margin-left: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
