.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px #aaa;
  padding: 10px;
  margin-bottom: 15px;

  > div {
    box-sizing: border-box;
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > div {
      width: calc(50% - 5px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &:nth-child(2n) {
        margin-left: 10px;
      }

      > span,
      input,
      select {
        display: flex;
        flex: 1;
        width: 50%;
      }
    }

    @include mobile {
      > div {
        width: 100%;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        margin: 0 0 10px 0;

        &:nth-child(2n) {
          margin-left: 0px;
        }

        > span,
        input,
        select {
          width: 100%;
          margin-bottom: 3px;
          box-sizing: border-box;
        }
      }
    }
  }

  .checkBoxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    > button {
      padding: 5px;
      margin-left: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  @include mobile {
    .checkBoxes {
      flex-direction: row;
      flex-wrap: wrap;

      > div {
        width: 40%;
        flex-direction: column;
        margin-bottom: 10px;

        > label {
          word-break: break-word;
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }

    .buttons {
      > button {
        word-break: break-word;
        text-align: center;
      }
    }
  }
}
