.wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 45%;
  padding: 3%;
  margin: 10px 0;
  border-radius: 30px;
  box-sizing: border-box;
  max-height: 200px;
  min-height: 200px;
  word-break: keep-all;
  @include background-boxShadow-transform($most-light, 'none', scale(1));

  .floatBtns {
    position: absolute;
    display: none;
    top: 15px;
    right: 25px;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:last-child {
        margin-left: 10px;
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font($most-dark);
  }

  .add {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

.wrap:hover {
  cursor: pointer;
  @include boxShadow-transform(4px 4px 2px 1px rgba(0, 0, 0, 0.2), scale(1.03));

  .floatBtns {
    display: flex;
  }
}
