.wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 45%;
  padding: 3%;
  margin: 20px 0;
  border-radius: 30px;
  box-sizing: border-box;
  max-height: 200px;
  min-height: 200px;
  @include background-boxShadow-transform($most-light, 'none', scale(1));

  .floatCategory {
    position: absolute;
    display: none;
    top: 15px;
    left: 30px;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .floatBtns {
    position: absolute;
    display: none;
    top: 15px;
    right: 30px;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:last-child {
        margin-left: 10px;
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all; /* 줄 넘기기 */

    /* 최대 줄 3개로 보여주기 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include font($most-dark);
  }

  > span {
    font-size: 0.9rem;
    position: absolute;
    bottom: 15px;
    right: 30px;
  }

  .add {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

.wrap:hover {
  cursor: pointer;
  @include boxShadow-transform(4px 4px 2px 1px rgba(0, 0, 0, 0.2), scale(1.03));

  .floatCategory {
    display: flex;
  }

  .floatBtns {
    display: flex;
  }
}
