.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include background($more-light);

  .innerWrap {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #aaa;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px;

    > h2 {
      margin: 0;
    }

    .inputDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      > label {
        margin-right: auto;
      }
    }

    > button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px 0;
    }
  }
}
