.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  padding: 5px;
  line-height: 1;
  background: #fff;
  border-radius: 50%;
  font-size: 0.1em;
  font-weight: bold;
  pointer-events: all;
  cursor: pointer;
}
