.wrap {
  display: flex;
  width: 100%;
  min-height: 100%;
  @include background($more-light);

  .innerWrap {
    padding: 10% 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;

    .option {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-bottom: 30px;

      > input {
        width: 100%;
        height: 60px;
        border: solid 1px rgb(125, 125, 125);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        @include font-background-boxShadow($most-dark, $most-light, 'none');
      }

      > input:focus {
        @include boxShadow(4px 4px 2px 1px rgba(0, 0, 0, 0.2));
      }

      > input::placeholder {
        color: #aaa;
      }

      > span {
        font-size: 1.5rem;
      }
    }

    .contents {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
