.wrap {
  display: flex;
  width: 100%;
  min-height: 100%;
  @include background($more-light);

  .innerWrap {
    width: 100%;
    padding: 10% 10%;
    overflow: auto;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: break-all;
      @include font($most-dark);
    }

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      @include font($most-dark);

      :nth-child(n) {
        word-break: break-all;
      }

      > pre {
        white-space: pre-wrap;
        overflow: auto;
      }
    }
  }

  .createUpdateBtn {
    width: 35px;
    height: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    bottom: 50%;
    right: 30px;
    cursor: pointer;
    @include background($most-light);
  }
}
