.wrap {
  width: 100%;
  height: 100%;

  .updatenode__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    > label {
      display: block;
    }

    > button {
      position: relative;
      padding: 5px 0;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .addBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .close {
      position: fixed;
      display: flex;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }

    .modalBody {
      display: flex;
      width: 80%;
      height: 80%;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 15px;
      background-color: rgba(230, 230, 230, 0.7);

      > span {
        display: flex;
        width: 25%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
      }

      > span:hover {
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        transition: background-color 0.5s linear;
      }
    }
  }
}
