.wrap {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  @include background($more-light);

  .backBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;

    > span {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .innerWrap {
    position: relative;
    padding: 5% 10%;
    width: 80%;
    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

@include mobile {
  .wrap {
    padding-top: 100px;

    > h2 {
      word-break: break-word;
      text-align: center;
    }

    .innerWrap {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
