.wrap {
  width: 100%;
  height: 100%;

  .updatetable__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    > label {
      display: block;
    }

    > button {
      position: relative;
      padding: 5px 0;
      margin-top: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .close {
      position: fixed;
      display: flex;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }

    .modalBody {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background-color: rgba(230, 230, 230, 0.7);
      padding: 15px;

      &.updateTable {
        width: 50%;
        height: 80%;
      }

      &.updateEdge {
        width: 30%;
        height: 15%;
      }

      > div {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .inputDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .columnsDiv {
        flex: 1 1;
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .selectBtnsDiv {
        display: flex;
        width: 100%;
        align-items: center;

        > span {
          margin-right: 10px;
        }

        .selectBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px 8px;
          margin: 0 5px;
          border-radius: 10px;
          box-sizing: border-box;
          cursor: pointer;

          &.selected {
            background-color: aqua;
          }
        }
      }

      .btnsDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: auto;

        > button {
          padding: 5px;
          margin-left: 10px;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
  }
}
